/********************** Import fonts from Google Fonts **************************/
@import url('https://fonts.googleapis.com/css?family=Acme|Girassol|Mansalva&display=swap');

/********************** Body **************************/
body {
    font-size: 16px;
    box-sizing: border-box;
}

/********************** Landing Page **************************/
#full-screen-game-container-col {
    height: 100vh;
    width: 100vw;
    background: url("https://res.cloudinary.com/wondrouswebworks/image/upload/v1576620176/realm-of-rantarctica/backgrounds/forest-bg-1_lqrdux.png");
    background-position: center;
    background-size: auto 100%;
    -webkit-animation: slide 120s linear infinite;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1920px 0; }
}

#landing-page, #level-select-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#audio-controls-container {
    position: absolute;
    top: 0;
    left: 0;
}

#audio-controls-toggle {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#audio-controls {
    display: none;
}

#game-title-and-icons-container {
    width: 90%;
    margin: 20vh auto;
}

#game-title {
    font-family: 'Girassol', cursive;
    font-size: 10rem;
    text-align: center;
    color: #F77F00;
    text-shadow: 4px 4px #003049;
    margin-top: 9rem;
}

/* #landing-page-icons {
    text-align: center;
} */

#info-icon {
    width: 100px;
    margin-left: 2rem;
}

.landing-page-icon {
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.landing-page-icon:hover {
    transform: scale(1.2);
}

#wondrouswebworks-logo {
    margin-bottom: 2rem;
    cursor: pointer;
}

#wondrouswebworks-logo img {
    width: 18vw;
}

@media(max-width: 1450px) {
    #game-title {
        font-size: 5.5rem;
    }

    #play-icon {
        width: 100px;
    }

    #info-icon {
        width: 70px;
        margin-left: 2rem;
    }

    #wondrouswebworks-logo img {
        width: 30vw;
    }
}

@media(max-width: 992px) {
    #game-title {
        font-size: 5rem;
    }

    #play-icon {
        width: 100px;
    }

    #info-icon {
        width: 70px;
        margin-left: 2rem;
    }

    #wondrouswebworks-logo img {
        width: 30vw;
    }

    #wondrouswebworks-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
}

@media(max-width: 768px) {
    #game-title {
        font-size: 5.5rem;
    }

    #play-icon {
        width: 130px;
    }

    #info-icon {
        width: 100px;
        margin-left: 2rem;
    }

    #wondrouswebworks-logo img {
        width: 60vw;
    }

    #wondrouswebworks-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
}

@media(max-width: 576px) {
    #game-title {
        font-size: 4rem;
        margin-top: 4.5rem;
    }

    #play-icon {
        width: 120px;
    }

    #info-icon {
        width: 90px;
        margin-left: 1rem;
    }

    #wondrouswebworks-logo img {
        width: 40vw;
    }

    #wondrouswebworks-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }

    #audio-controls-toggle {
        width: 75px;
        height: 75px;
    }
}

/********************** Landing Page Information Modal **************************/
#info-modal .modal-header, #info-modal .modal-body, #info-modal .modal-footer {
    background-color: #003049;
}

#info-modal .modal-header, #info-modal .modal-footer {
    border: none;
}

#info-modal .modal-header button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background: transparent;
    padding: 5px;
    border: none;
    transition: transform .5s ease-in-out;
}

#info-modal .modal-header button:hover {
    transform: scale(1.2);
}

#info-modal .modal-title {
    color: #F77F00;
    text-shadow: 2px 2px #111;
    font-family: 'Girassol', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 0 auto;
}

#info-modal .modal-body p {
    color: #EAE2B7;
    font-family: 'Acme', sans-serif;
    font-size: 1.3rem;
    padding: 0 20px;
}

.modal-close-icon {
    height: 30px;
    width: 30px;
}

#info-modal .modal-footer #next-icon {
    height: 45px;
    width: 45px;
}

#info-modal .modal-footer button {
    padding: 5px;
    margin: auto;
}

.modal-btn {
    background-color: #FCBF49;
    color: #003049;
    font-size: 2rem;
}


/********************** Select Level Screen **************************/
#level-select-page {
    display: none;
}
#select-level-heading {
    font-family: 'Girassol', cursive;
    font-size: 7rem;
    text-align: center;
    color: #F77F00;
    text-shadow: 4px 4px #003049;
    margin-top: 3rem;
}

.level-select-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-bottom: 1.5rem;
}

.level-btn {
    background-color: #FCBF49;
    color: #003049;
    font-size: 1.5rem;
    margin: 0;
    transition: background-color .5s ease-in-out;
}

.level-icon {
    height: 45px;
    width: 45px;
}


.level-btn:hover {
    background-color: #F77F00;
}

#level-cards-container {
    margin: 0 40px;
}

#level-cards-container .card {
    display: none;
    background: transparent;
    border: none;
    text-align: center;
    transition: transform .8s ease-in-out;
}

#level-cards-container .card img {
    width: 80%;
    border-radius: 8px;
    border: 4px solid transparent;
}
 
#level-cards-container .card h5 {
    color: #003049;
    background-color: #FCBF49;
    padding: 5px;
    width: 65%;
    margin: 0 auto;
    font-family: 'Mansalva', cursive;
    border-radius: 7px;
}

#level-cards-container .card:hover img {
    border: 4px solid #EAE2B7;
}

@media(max-width: 1450px) {
    #select-level-heading {
        font-size: 4rem;
    }

    .level-btn {
        font-size: 1.2rem;
    }

    .level-icon {
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 768px) {
    #select-level-heading {
        font-size: 3.5rem;
    }
}

@media(max-width: 576px) {
    #level-cards-container {
        margin: 0 10px;
    }

    #select-level-heading {
        margin-top: 2rem;
        font-size: 3rem;
        line-height: .9;
        }

    .level-btn {
        font-size: 1rem;
    }
    
    .level-icon {
        height: 30px;
        width: 30px;
    }

    .card {
        width: 95%;
        padding: 0;
    }

    #level-cards-container .card img {
        width: 100%;
    }

    #level-cards-container .card h5 {
        width: 90%;
    }
}

/********************** Battle Screen **************************/
.set-flex-display-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.set-flex-display-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#battle-page {
    display: none;
    width: 100vw;
    height: 100vh;
}

#character-display-row {
    padding: 20px 40px;
    width: 100%;
    height: 50%;
}

#character-attributes-and-score-card-row {
    height: 50%;
    width: 100%;
    padding: 30px;
}

.player-attribute, .ai-attribute {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color .5s ease-in-out;
}

.card-count-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-attribute:hover {
    background-color: #D62828;
}

.battle-screen-bottom-row {
    background-color: #003049;
    padding: 20px 0;
    width: 70%;
    margin: auto;
    border: 4px solid #D62828;
    border-radius: 14px;
}

.player-attribute p, .card-count-item p, .ai-attribute p {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}