/********************** Import fonts from Google Fonts **************************/
@import url('https://fonts.googleapis.com/css?family=Acme|Girassol|Mansalva&display=swap');

/********************** Body **************************/
body {
    font-size: 16px;
    box-sizing: border-box;
}

/********************** Landing Page **************************/
#full-screen-game-container-col {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("https://res.cloudinary.com/wondrouswebworks/image/upload/v1576620176/realm-of-rantarctica/backgrounds/forest-bg-1_lqrdux.png");
    background-position: center;
    background-size: auto 100%;
    -webkit-animation: slide 120s linear infinite;
    -ms-animation: slide 120s linear infinite;
    -moz-animation: slide 120s linear infinite;
    -o-animation: slide 120s linear infinite;
    animation: slide 120s linear infinite;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1920px 0; }
}

@-ms-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1920px 0; }
}

@-moz-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1920px 0; }
}

@-o-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1920px 0; }
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1920px 0; }
}

#landing-page, #level-select-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#audio-controls-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform .5s ease-in-out;
}

#audio-controls-container:hover {
    transform: scale(1.2);
}

#audio-controls-toggle {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#music, #sound-fx {
    display: none;
}

#game-title-and-icons-container {
    width: 90%;
    margin: 20vh auto;
}

#game-title {
    font-family: 'Girassol', cursive;
    font-size: 10rem;
    text-align: center;
    color: #F77F00;
    text-shadow: 4px 4px #003049;
    margin-top: 9rem;
}

/* #landing-page-icons {
    text-align: center;
} */

#info-icon {
    width: 100px;
    margin-left: 2rem;
}

.landing-page-icon {
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.landing-page-icon:hover {
    transform: scale(1.2);
}

#difficulty-setting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#difficulty-setting .difficulty-btn {
    background-color: #FCBF49;
    color: #003049;
    font-family: "Acme", sans-serif;
    font-size: 3rem;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    transition: transform .5s ease-in-out;
}

#difficulty-setting .difficulty-btn:hover {
    transform: scale(1.2);
}

#difficulty-setting .difficulty-btn:focus {
    outline: none;
}

#medium-difficulty {
    margin: 0 30px;
}

#difficulty-setting-heading {
    text-align: center;
    font-family: "Girasol", cursive;
    font-size: 4rem;
    font-weight: bold;
    color: #EAE2B7;
    text-shadow: 3px 3px #003049;
}

#difficulty-setting .selected-difficulty-btn {
    background-color: #F77F00;
    color: #003049;
    font-family: "Acme", sans-serif;
    font-size: 3rem;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    transition: transform .5s ease-in-out;
}

#difficulty-setting .selected-difficulty-btn:hover {
    transform: scale(1.2);
}

#wondrouswebworks-logo {
    margin-bottom: 2rem;
    cursor: pointer;
}

#wondrouswebworks-logo img {
    width: 18vw;
}

@media(max-width: 1450px) {
    #game-title {
        font-size: 5.5rem;
    }

    #play-icon {
        width: 100px;
    }

    #info-icon {
        width: 70px;
        margin-left: 2rem;
    }

    #wondrouswebworks-logo img {
        width: 30vw;
    }
}

@media(max-width: 992px) {
    #game-title {
        font-size: 5rem;
    }

    #play-icon {
        width: 100px;
    }

    #info-icon {
        width: 70px;
        margin-left: 2rem;
    }

    #wondrouswebworks-logo img {
        width: 30vw;
    }

    #wondrouswebworks-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
}

@media(max-width: 768px) {
    #game-title {
        font-size: 5.5rem;
    }

    #play-icon {
        width: 130px;
    }

    #info-icon {
        width: 100px;
        margin-left: 2rem;
    }

    #wondrouswebworks-logo img {
        width: 60vw;
    }

    #wondrouswebworks-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
}

@media(max-width: 576px) {
    #game-title {
        font-size: 3.5rem;
        margin-top: 4rem;
    }

    #play-icon {
        width: 100px;
    }

    #info-icon {
        width: 70px;
        margin-left: 1rem;
    }

    #wondrouswebworks-logo img {
        width: 40vw;
    }

    #wondrouswebworks-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }

    #audio-controls-toggle {
        width: 75px;
        height: 75px;
    }

    #difficulty-setting-heading {
        font-size: 1.7rem;
        text-shadow: 2px 2px #003049;
    }

    #difficulty-setting .selected-difficulty-btn {
        font-size: 1.3rem;
        padding: 3px 10px;
        border-radius: 6px;
    }

    #difficulty-setting .difficulty-btn {
        font-size: 1.3rem;
        padding: 3px 10px;
        border-radius: 6px;
    }
}

/********************** Landing Page Information Modal **************************/
#info-modal .modal-header, #info-modal .modal-body, #info-modal .modal-footer {
    background-color: #003049;
}

#info-modal .modal-header, #info-modal .modal-footer {
    border: none;
}

/* Also styles for #audio-modal */
.modal-header button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background: transparent;
    padding: 10px;
    border: none;
    transition: transform .5s ease-in-out;
}

/* Also styles for #audio-modal */
.modal-content {
    background-color: #003049;
    border-radius: 25px;
}

/* Also styles for #audio-modal */
.modal-header, .modal-body, .modal-footer {
    border-radius: 25px;
}

.modal-header button:focus {
    outline: none;
}

.modal-header button:hover {
    transform: scale(1.2);
}

#info-modal .modal-title {
    color: #F77F00;
    text-shadow: 2px 2px #111;
    font-family: 'Girassol', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 0 auto;
}

#info-modal .modal-body p {
    color: #EAE2B7;
    font-family: 'Acme', sans-serif;
    font-size: 1.3rem;
    padding: 0 20px;
}

.modal-close-icon {
    height: 40px;
    width: 40px;
}

#info-modal .modal-footer #next-icon {
    height: 45px;
    width: 45px;
}

#info-modal .modal-footer button {
    padding: 5px;
    margin: auto;
}

.modal-btn {
    background-color: #FCBF49;
    color: #003049;
    font-size: 2rem;
}

/********************** Sound Settings Modal **************************/
#audio-modal .modal-header, #audio-modal .modal-body {
    background-color: #003049;
    text-align: center;
}

#audio-modal .modal-header {
    border: none;
}

#audio-modal .modal-header button:hover {
    transform: scale(1.2);
}

#audio-modal .modal-title {
    color: #F77F00;
    text-shadow: 2px 2px #111;
    font-family: 'Girassol', cursive;
    font-size: 3.5rem;
    text-align: center;
    margin: 0 auto;
}

.audio-icon-and-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.audio-modal-heading-icon {
    height: 55px;
    width: 55px;
}

.audio-modal-sub-heading {
    color: #EAE2B7;
    font-family: "Acme", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 10px;
}

#music-vol-controls, #sound-fx-vol-controls, #music-controls {
    border: 5px solid #D62828;
    border-radius: 8px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.vol-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vol-input-container p {
    font-family: "Girasol", cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #EAE2B7;
    line-height: .7;
    margin: 0;
}

#music-vol-control, #sound-fx-vol-control {
    width: 40%;
    margin: 0 10px;
}

#current-music-vol, #current-sound-fx-vol {
    font-family: "Mansalva", cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #F77F00;
    margin: 0;
}

#music-control-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#music-controls {
    overflow: hidden;
}

#music-controls img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.button-click {
    animation: button-click .3s linear;
}

@keyframes button-click {
    0% { transform: scale(1.2); }
    50% { transform: scale(.9); }
    100% { transform: scale(1.2); }
}

#music-controls img:hover {
    transform: scale(1.2);
}

#music-controls #currently-loaded-track {
    position: relative;
    font-family: "Mansalva", cursive;
    font-size: 2rem;
    color: #FCBF49;
    animation: slide-text 15s linear infinite;
}

@keyframes slide-text {
    from { transform: translateX(450px); }
    to { transform: translateX(-450px); }
}

#currently-playing-heading {
    font-family: "Acme", sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #80D2FF;
    margin-top: 1rem;
}

/* Adapted from BrennaOBrien.com */
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #80D2FF;
    border: none;
    border-radius: 6px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #FCBF49;
    margin-top: -9px;
}

input[type=range]:focus {
    outline: none;
}

/* End of adapted code from BrennaOBrien.com */

@media(max-width: 576px) {
    #audio-modal .modal-title { 
        font-size: 2.6rem;
    }

    .audio-modal-heading-icon {
        height: 40px;
        width: 40px;
    }

    .audio-modal-sub-heading {
        font-size: 2rem;
    }
}


/********************** Select Level Screen **************************/
#level-select-page {
    display: none;
}
#select-level-heading {
    font-family: 'Girassol', cursive;
    font-size: 7rem;
    text-align: center;
    color: #F77F00;
    text-shadow: 4px 4px #003049;
    margin-top: 3rem;
}

.level-select-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-bottom: 1.5rem;
}

.level-btn {
    background-color: #FCBF49;
    color: #003049;
    font-size: 1.5rem;
    margin: 0;
    transition: background-color .5s ease-in-out;
}

.level-icon {
    height: 45px;
    width: 45px;
}


.level-btn:hover {
    background-color: #F77F00;
}

#level-cards-container {
    margin: 0 40px;
}

#level-cards-container .card {
    display: none;
    background: transparent;
    border: none;
    text-align: center;
    transition: transform .8s ease-in-out;
}

#level-cards-container .card .card-body {
    padding-top: 5px;
}

#level-cards-container .card img {
    width: 80%;
    border-radius: 8px;
    border: 4px solid transparent;
}
 
#level-cards-container .card h5 {
    color: #003049;
    background-color: #FCBF49;
    padding: 5px;
    width: 65%;
    margin: 0 auto;
    font-family: 'Mansalva', cursive;
    border-radius: 7px;
}

#level-cards-container .card:hover img {
    border: 4px solid #EAE2B7;
}

@media(max-width: 1450px) {
    #select-level-heading {
        font-size: 4rem;
    }

    .level-btn {
        font-size: 1.2rem;
    }

    .level-icon {
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 768px) {
    #select-level-heading {
        font-size: 3.5rem;
    }
}

@media(max-width: 576px) {
    #level-cards-container {
        margin: 0 10px;
    }

    #select-level-heading {
        margin-top: 3rem;
        font-size: 2rem;
        line-height: .9;
        text-shadow: 2px 2px #003049;
        }

    .level-btn {
        font-size: 1rem;
        padding: 3px 6px;
    }
    
    .level-icon {
        height: 30px;
        width: 30px;
    }

    .card {
        width: 95%;
        padding: 0;
    }

    #level-cards-container .card img {
        width: 90%;
    }

    #level-cards-container .card h5 {
        width: 90%;
    }
}

/********************** Battle Screen **************************/
.set-flex-display-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.set-flex-display-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#battle-page {
    display: none;
    width: 100vw;
    height: 100vh;
}

#character-display-row {
    padding: 20px 40px;
    width: 100%;
    height: 50%;
}

#character-attributes-and-score-card-row {
    height: 50%;
    width: 100%;
    padding: 30px;
}

.player-attribute, .ai-attribute {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-color .5s ease-in-out;
}

.card-count-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-attribute:hover {
    background-color: #D62828;
}

.battle-screen-bottom-row {
    background-color: #003049;
    padding: 20px 0;
    width: 70%;
    margin: auto;
    border: 4px solid #D62828;
    border-radius: 14px;
}

.player-attribute p, .card-count-item p, .ai-attribute p {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.player-attribute-name, .card-count-player, .card-count-ai, .ai-attribute-name {
    padding-left: 20px;
}

.player-attribute-value, .card-count-player-value {
    color: #EAE2B7;
    padding-right: 20px;
}

.ai-attribute-value, .card-count-ai-value {
    color: #80D2FF;
    padding-right: 20px;
}

.player-attribute, .card-count-item, .ai-attribute {
    color: #FCBF49;
}

#card-count {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#player-sprite-and-name-container, #ai-sprite-and-name-container {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ai-sprite-and-name-container {
    transform: scaleX(-1);
}

#ai-sprite-name {
    transform: scaleX(-1);
}

#player-sprite-name, #ai-sprite-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #EAE2B7;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 2px 2px #003049;
}

#battle-info-and-timer-container {
    padding-top: 3vh;
}

#battle-info-and-timer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#battle-info {
    font-family: 'Mansalva', cursive;
    font-size: 6rem;
    text-align: center;
    color: #F77F00;
    text-shadow: 3px 3px #003049;
    font-weight: bold;
}

#vs {
    font-family: 'Girassol', cursive;
    font-size: 7rem;
    text-align: center;
    color: #FCBF49;
    text-shadow: 4px 4px 2px #003049;
    padding: 10px 0;
    line-height: .8;
    margin: 0;
}

.vs-border-block {
    height: 12px;
    width: 10vw;
    margin: auto;
    background-color: #D62828;
    border: 3px solid #003049;
    border-radius: 2px;
}

#timer {
    font-family: 'Acme', sans-serif;
    font-size: 8rem;
    color: #EAE2B7;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 3px #003049;
}
